*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.btn{
    padding: 20px 80px;
    background-color: aquamarine;
    border: 2px solid white;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 40px rgb(70, 213, 229);
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 1px;

}